<component name="libraryTable">
  <library name="SpringMVCFreeMarker">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/SpringMVCFreeMarker.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$PROJECT_DIR$/lib/SpringMVCFreeMarker.jar!/" />
    </SOURCES>
  </library>
</component>