<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java1234.dao.BookDao">

	<resultMap type="Book" id="UserResultMap">
		<result property="bookId" column="book_id"/>
		<result property="bookName" column="book_name"/>
		<result property="bookAuthor" column="book_author"/>
	</resultMap>

	<select id="selectAll" resultMap="UserResultMap">
		select * from t_book b
		<where>
			<if test="bookId!=null">
				b.book_id = #{bookId}
			</if>
		</where>
	</select>

	<update id="updateByPK" >
		UPDATE t_book set book_name=#{bookName},book_author=#{bookAuthor} WHERE book_id=#{bookId}
	</update>

	<insert id="save" useGeneratedKeys="true">
		INSERT INTO t_book (book_name,book_author) VALUES (#{bookName},#{bookAuthor})
	</insert>

	<delete id="delete" parameterType="int">
			DELETE  FROM t_book where book_id = #{bookId}

	</delete>
</mapper> 